.main--content {
	width: 100%;
	display: flex;
}

.form {
	&--post {
		width: 100%;
		display: flex;
		padding: 1em 3rem;
		flex-direction: column;
	}

	&--group {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;
	}

	&--input {
		padding: 0.6rem 1rem;
		border-radius: 5px;
		outline: none;
		border: 1px solid #353535;
		font-size: 1rem;

		&::placeholder {
			font-family: Arial, Helvetica, sans-serif;
			text-transform: capitalize;
			color: #353535;
			font-size: 1rem;
		}

		&:active,
		&:focus {
			border: 1px solid #ff0080;
		}
	}
}

.submit {
	width: 70px;
}

.col--data {
	display: flex;
	flex-direction: column;
}

.title-section {
	color: rgb(126, 126, 126) !important;
	font-size: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
}

.section-post {
	margin: {
		top: 1em;
	}

	display: flex;
	flex-direction: row;
	width: 500px;
	padding: 10px;
	border-radius: 5px;
	box-shadow: -2px -2px 10px rgba(0, 0, 0, 0.2),
	5px 5px 10px rgba(0, 0, 0, 0.1);

	.img-thumb {
		padding: 1px;
		width: 45%;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.content {
		width: 65%;
		padding: 4px;
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		align-items: flex-start;
		padding-left: 20px;
	}

	.title {
		cursor: pointer;
		font-size: 1em;
		font-weight: bold;

		&:hover {
			color: rgba(54, 54, 54, 0.76);
		}
	}

	.desc {
		color: #333;
	}
}

.actions {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.btn-remove {
	padding: {
		left: 1.5em;
		right: 1.5em;
		top: 0.85em;
		bottom: 0.85em;
	}

	color: #f4f4f4;
	outline: none;
	background-color: #ff0080;
	display: flex;
	border: none;
	margin-left: auto;
	border-radius: 0.4em;
	font-family: Verdana,
	Geneva,
	Tahoma,
	sans-serif;

	&:hover {
		cursor: pointer;
	}
}

.btn-update {
	padding: {
		left: 1.5em;
		right: 1.5em;
		top: 0.85em;
		bottom: 0.85em;
	}

	color: #f4f4f4;
	outline: none;
	background-color: #00c3ff;
	display: flex;
	border: none;
	margin-left: 0.6rem;
	border-radius: 0.4em;
	font-family: Verdana,
	Geneva,
	Tahoma,
	sans-serif;

	&:hover {
		cursor: pointer;
	}
}